/* You can add global styles to this file, and also import other style files */


* {
  margin: 1rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

a {
  color: chocolate;
}
 body {
  padding-bottom: 400px;
 }
 .content {
  padding-bottom: 2px solid red;
  padding: 2em;
  margin-bottom: 1em;
 }
